# Collision analysis
This document tries to explain the processes of "outsourcing" the calculations of sightline studies without sharing the 3D model information

## Description of the process

Importing libraries

In [1]:
import pandas as pd
import numpy as np
import itertools
import os
import time
import multiprocessing as mp
from multiprocessing import Pool
from functools import partial

Loger for python console

In [2]:
def log(message):
    print('{} , {}'.format(time.time(), message))

## Reading points of view

In [23]:
pov_ = pd.read_csv(r".\pov_.csv",header=None )
pov_.columns = ["x","y","z" ]
print('{} Points of View'.format(len(pov_)))
pov_.head()

2 Points of View

           x          y         z
0 -11.158635 -15.638943  1.322324
1   2.314918 -14.302818  1.322324

## Reading targets (points over meshes)

In [24]:
target_ = pd.read_csv(r".\targets_.csv",header=None )
target_.columns = ["x1","y1","z1" ]
print('{} targets or points of interest'.format(len(target_)))
target_.head()

480 targets or points of interest

          x1         y1        z1
0  27.283216  26.884630  0.000000
1  27.283216  25.813538  0.000000
2  27.283216  26.884630  0.514658
3  27.283216  24.742443  0.000000
4  27.283216  26.884630  1.543975

## Reading meshes bounding box

In [5]:
meshes_ = pd.read_csv(r".\context_.csv",header=None, index_col=0  )
meshes_.columns = ["xMax","yMax","zMax","xMin","yMin","zMin","id" ]
print('{} meshes in set'.format(len(meshes_)))
meshes_.head()

2 meshes in set

,xMax,yMax,zMax,xMin,yMin,zMin,id
0,,,,,,,
0,23.2885,10.9502,5.1466,14.5737,0.2393,0.0,4d4f5c7f-5eb9-4b5c-bfe5-1bb59d4c4c93
1,35.9980,10.9502,5.1466,27.2832,0.2393,0.0,7e2f84e7-c825-46cc-a02c-081450aa7d89

## Reading meshes faces

In [6]:
mesh_faces = pd.read_csv(r".\mesh_faces.csv",header=None  )
mesh_faces.columns = ["xMax","yMax","zMax","xMin","yMin","zMin", "id" ]
print('{} meshes faces in set'.format(len(mesh_faces)))
mesh_faces.head()

456 meshes faces in set

,xMax,yMax,zMax,xMin,yMin,zMin,id
0,14.5737,10.9502,0.5147,14.5737,9.8791,0.0,4d4f5c7f-5eb9-4b5c-bfe5-1bb59d4c4c93
1,14.5737,10.9502,1.5440,14.5737,8.8080,0.0,4d4f5c7f-5eb9-4b5c-bfe5-1bb59d4c4c93
2,14.5737,8.8080,5.1466,14.5737,7.7369,0.0,4d4f5c7f-5eb9-4b5c-bfe5-1bb59d4c4c93
3,14.5737,7.7369,5.1466,14.5737,6.6658,0.0,4d4f5c7f-5eb9-4b5c-bfe5-1bb59d4c4c93
4,14.5737,6.6658,5.1466,14.5737,5.5947,0.0,4d4f5c7f-5eb9-4b5c-bfe5-1bb59d4c4c93

## Creating all cross product of points vs targets to represent the lines of view

In [7]:
lines = pov_
lines = lines.assign(foo=1).merge(target_.assign(foo=1)).drop('foo', 1)
lines = lines.drop_duplicates()
lines = lines.reset_index()
lines = lines.drop(['index'], axis=1)

In [8]:
print('{} lines between POV and targets'.format(len(lines)))
lines.head()

464 lines between POV and targets

           x          y         z         x1         y1        z1
0 -11.158635 -15.638943  1.322324  27.283216  26.884630  0.000000
1 -11.158635 -15.638943  1.322324  27.283216  25.813538  0.000000
2 -11.158635 -15.638943  1.322324  27.283216  26.884630  0.514658
3 -11.158635 -15.638943  1.322324  27.283216  24.742443  0.000000
4 -11.158635 -15.638943  1.322324  27.283216  26.884630  1.543975

## Converting lines to bounding boxes

In [9]:
bbx = pd.DataFrame(columns = ["xMax","yMax","zMax","xMin","yMin","zMin"])
bbx['xMax'] = lines[['x', 'x1']].values.max(1)
bbx['yMax'] = lines[['y', 'y1']].values.max(1)
bbx['zMax'] = lines[['z', 'z1']].values.max(1)
bbx['xMin'] = lines[['x', 'x1']].values.min(1)
bbx['yMin'] = lines[['y', 'y1']].values.min(1)
bbx['zMin'] = lines[['z', 'z1']].values.min(1)

bbx.head()

        xMax       yMax      zMax       xMin       yMin      zMin
0  27.283216  26.884630  1.322324 -11.158635 -15.638943  0.000000
1  27.283216  25.813538  1.322324 -11.158635 -15.638943  0.000000
2  27.283216  26.884630  1.322324 -11.158635 -15.638943  0.514658
3  27.283216  24.742443  1.322324 -11.158635 -15.638943  0.000000
4  27.283216  26.884630  1.543975 -11.158635 -15.638943  1.322324

## Finding if lines bounding box versus meshes bounding box intersect

### Estimation of total calculation in meshes versus lines bounding boxes (worst case scenario)

In [10]:
print('{} possible calculations'.format(len(bbx)* len(meshes_)))

928 possible calculations

In [11]:
class BoundingBox():
    #Bounding box defined by tuple of max & min points
    def __init__(self, point):
        self.XMax = point[0]
        self.YMax = point[1]
        self.ZMax = point[2]
        self.XMin = point[3]
        self.YMin = point[4]
        self.ZMin = point[5]

In [12]:
def checkmesh(lines, meshes):
    #iterate over points
    aa = BoundingBox(meshes)
    for b in lines:
        bb = BoundingBox(b)
        if  bb_intersection_over_union(aa,bb):
            return True
    return False

In [13]:
def bb_intersection_over_union(boxA, boxB):
    interArea =  ((boxA.XMax > boxB.XMin) and (boxB.XMax > boxA.XMin ) and (boxA.YMax > boxB.YMin) and (boxA.YMin < boxB.YMax) and (boxA.ZMax > boxB.ZMin) and (boxA.ZMin < boxB.ZMax) )
    
    return interArea

In [14]:
#Saving for possible limit in process like head(1000)
bbx2 = bbx #.head(1000)

resultA = meshes_.apply(lambda x: checkmesh( bbx2.values, x), axis=1)
meshes_['hits'] = resultA
print("Count of meshes with intersections")
print(len(meshes_[resultA]))

Count of meshes with intersections
2

## Finding mesh intersection

Filtering only the mesh faces that belong to a mesh from previews test

In [15]:
filter = mesh_faces["id"].isin(meshes_[resultA]['id'])
mesh_faces_filter = mesh_faces[filter]
print('{} faces to test'.format(len(mesh_faces)))

456 faces to test

In [16]:
def checkFaces(Faces, line):
    #Face v line iterator
    for f in Faces:
        if intersection(f, line):
            return True
    return False

In [17]:
def intersection(aabb, ray):
    #Bounding box v line intersection detector
    normal = (ray[3]-ray[0], ray[4]-ray[1],ray[5]-ray[2])
    #TODO : check divided by zero!
    t1 = (aabb[3] - ray[0]) / normal[0];
    t2 = (aabb[0] - ray[0]) / normal[0];
    t3 = (aabb[4] - ray[1]) / normal[1];
    t4 = (aabb[1] - ray[1]) / normal[1];
    t5 = (aabb[5]- ray[2]) / normal[2];
    t6 = (aabb[2] - ray[2]) / normal[2];

    tmin = max(min(t1, t2), min(t3, t4), min(t5, t6));
    tmax = min(max(t1, t2), max(t3, t4), max(t5, t6));

        # if tmax < 0, ray (line) is intersecting AABB, but whole AABB is behing us
    if (tmax < 0):
        return False

        # if tmin > tmax, ray doesn't intersect AABB
    if (tmin > tmax):
        return False
    t= None
    if (tmin < float(0)):
        t = tmax
    else:
        t = tmin
    if (t * t) > ((normal[0]**2 + normal[1]**2 + normal[2]**2)):
        return False
    return True

Filter lines with positive intersections

In [18]:
resultsB = bbx2.apply(lambda x: checkFaces( mesh_faces_filter.values, x), axis=1)

In [19]:
lines['hits']= resultsB
positive = len(lines[lines['hits'] == False])
print('{} lines with clean sight from POV to targets'.format(positive))
negative = len(lines[lines['hits'] == True])
print('{} lines with possible context intersection'.format(negative))

172 lines with clean sight from POV to targets
292 lines with possible context intersection

## Saving lines with no intersection

In [20]:
lines[ lines['hits'] == False].to_csv('positive.csv')

## Saving lines with possible intersection

In [21]:
lines[ lines['hits'] == True].to_csv('negative.csv')