# Collision analysis
This document tries to explain the processes of "outsourcing" the calculations of sightline studies without sharing the 3D model information

## Description of the process

Importing libraries

In [69]:
import pandas as pd
import numpy as np
import itertools
import numba
import os
import time
import multiprocessing as mp
from multiprocessing import Pool
from functools import partial
start= time.time()

Loger for python console

In [70]:
def log(message):
    print('{} , {}'.format(time.time(), message))

## Reading points of view

In [71]:
pov_ = pd.read_csv(r".\pov_.csv",header=None )
pov_.columns = ["x","y","z" ]
print('{} Points of View'.format(len(pov_)))
pov_.head(10)

3 Points of View

           x         y         z
0  24.517645 -3.442886  1.180005
1  19.135707 -3.442886  1.180005
2  12.680436 -3.442886  1.180005

## Reading targets (points over meshes)

In [72]:
target_ = pd.read_csv(r".\targets_.csv",header=None )
target_.columns = ["x1","y1","z1" ]
print('{} targets or points of interest'.format(len(target_)))
target_.head()

74170 targets or points of interest

          x1         y1        z1
0  17.624287  21.152882  6.315064
1  17.525846  21.137451  6.216816
2  14.956533  22.996077  5.182619
3  15.490440  20.611511  5.504458
4  15.488480  20.557333  5.553114

## Reading meshes bounding box

In [73]:
meshes_ = pd.read_csv(r".\context_.csv",header=None, index_col=0  )
meshes_.columns = ["xMax","yMax","zMax","xMin","yMin","zMin","id" ]
print('{} meshes in set'.format(len(meshes_)))
meshes_.head()

8 meshes in set

,xMax,yMax,zMax,xMin,yMin,zMin,id
0,,,,,,,
0,7.3703,-4.2897,35.7826,-0.6453,-14.1881,31.7001,d83054f9-0310-465f-9629-87db361669aa
1,7.2636,9.3703,35.7826,-0.7520,-0.5281,31.7001,ee0e6f2d-e4e2-4438-9cbf-91ff76f71766
2,7.3703,-4.2897,25.5412,-0.6453,-14.1881,21.4586,0d036b89-9bea-4897-b507-d8646f5084aa
3,7.2636,9.3703,25.5412,-0.7520,-0.5281,21.4586,fbe6cdb8-2362-4f9e-9c02-75c948a23ca4
4,7.3703,-4.2897,15.1834,-0.6453,-14.1881,11.1008,52bdb36c-01fe-4b57-914a-e0aa9303b39f

## Reading meshes faces

In [74]:
mesh_faces = pd.read_csv(r".\mesh_faces.csv",header=None  )
mesh_faces.columns = ["xMax","yMax","zMax","xMin","yMin","zMin", "id" ]
print('{} meshes faces in set'.format(len(mesh_faces)))
mesh_faces.head()

64 meshes faces in set

,xMax,yMax,zMax,xMin,yMin,zMin,id
0,7.3703,-14.1881,35.7826,-0.6453,-14.1881,31.7001,d83054f9-0310-465f-9629-87db361669aa
1,7.3703,-4.2897,35.7826,7.3703,-14.1881,31.7001,d83054f9-0310-465f-9629-87db361669aa
2,7.3703,-4.2897,35.7826,-0.6453,-4.2897,31.7001,d83054f9-0310-465f-9629-87db361669aa
3,-0.6453,-4.2897,35.7826,-0.6453,-14.1881,31.7001,d83054f9-0310-465f-9629-87db361669aa
4,7.3703,-4.2897,31.7001,-0.6453,-14.1881,31.7001,d83054f9-0310-465f-9629-87db361669aa

## Creating all cross product of points vs targets to represent the lines of view

In [75]:
lines = pov_
lines = lines.assign(foo=1).merge(target_.assign(foo=1)).drop('foo', 1)
lines = lines.drop_duplicates()
lines = lines.reset_index()
lines = lines.drop(['index'], axis=1)

In [76]:
print('{} lines between POV and targets'.format(len(lines)))
lines.head()

38775 lines between POV and targets

           x         y         z         x1         y1        z1
0  24.517645 -3.442886  1.180005  17.624287  21.152882  6.315064
1  24.517645 -3.442886  1.180005  17.525846  21.137451  6.216816
2  24.517645 -3.442886  1.180005  14.956533  22.996077  5.182619
3  24.517645 -3.442886  1.180005  15.490440  20.611511  5.504458
4  24.517645 -3.442886  1.180005  15.488480  20.557333  5.553114

## Converting lines to bounding boxes

In [77]:
bbx = pd.DataFrame(columns = ["xMax","yMax","zMax","xMin","yMin","zMin"])
bbx['xMax'] = lines[['x', 'x1']].values.max(1)
bbx['yMax'] = lines[['y', 'y1']].values.max(1)
bbx['zMax'] = lines[['z', 'z1']].values.max(1)
bbx['xMin'] = lines[['x', 'x1']].values.min(1)
bbx['yMin'] = lines[['y', 'y1']].values.min(1)
bbx['zMin'] = lines[['z', 'z1']].values.min(1)

bbx.head()

        xMax       yMax      zMax       xMin      yMin      zMin
0  24.517645  21.152882  6.315064  17.624287 -3.442886  1.180005
1  24.517645  21.137451  6.216816  17.525846 -3.442886  1.180005
2  24.517645  22.996077  5.182619  14.956533 -3.442886  1.180005
3  24.517645  20.611511  5.504458  15.490440 -3.442886  1.180005
4  24.517645  20.557333  5.553114  15.488480 -3.442886  1.180005

## Finding if lines bounding box versus meshes bounding box intersect

### Estimation of total calculation in meshes versus lines bounding boxes (worst case scenario)

In [78]:
print('{} possible calculations'.format(len(bbx)* len(meshes_)))

310200 possible calculations

In [79]:
class BoundingBox():
    #Bounding box defined by tuple of max & min points
    def __init__(self, point):
        self.XMax = point[0]
        self.YMax = point[1]
        self.ZMax = point[2]
        self.XMin = point[3]
        self.YMin = point[4]
        self.ZMin = point[5]

In [80]:
def checkmesh(lines, meshes):
    #iterate over points
    aa = BoundingBox(meshes)
    for b in lines:
        bb = BoundingBox(b)
        if  bb_intersection_over_union(aa,bb):
            return True
    return False

In [81]:
def bb_intersection_over_union(boxA, boxB):
    interArea =  ((boxA.XMax > boxB.XMin) 
                  and (boxB.XMax > boxA.XMin) 
                  and (boxA.YMax > boxB.YMin) 
                  and (boxA.YMin < boxB.YMax) 
                  and (boxA.ZMax > boxB.ZMin) 
                  and (boxA.ZMin < boxB.ZMax) )
    
    return interArea

In [82]:
#Saving for possible limit in process like head(1000)
bbx2 = bbx #.head(1000)

resultA = meshes_.apply(lambda x: checkmesh( bbx2.values, x), axis=1)
meshes_['hits'] = resultA
print("Count of meshes with intersections")
print(len(meshes_[resultA]))

Count of meshes with intersections
8

## Finding mesh intersection

Filtering only the mesh faces that belong to a mesh from previews test

In [83]:
filter = mesh_faces["id"].isin(meshes_[resultA]['id'])
mesh_faces_filter = mesh_faces[filter]
print('{} faces to test'.format(len(mesh_faces)))

64 faces to test

In [84]:

def checkFaces(Faces, line):
    #Face v line iterator
    for f in Faces:
        a = np.array(f[:-1],  dtype=np.float32)
        b = np.array(line,  dtype=np.float32)
        if intersection(a,b):
            return True
    return False

In [85]:
@numba.vectorize(['float32(float32,float32,float32)'])
def tt(a,b,c):
    return (a - b) / c

@numba.jit(forceobj=True, parallel=True)
def intersection(aabb, ray):
    
    #Bounding box v line intersection detector
    normal = [ray[3]-ray[0], ray[4]-ray[1],ray[5]-ray[2]]
    #TODO : check divided by zero!
    t1 = tt(aabb[3],ray[0], normal[0])
    t2 = tt(aabb[0] , ray[0], normal[0])
    t3 = tt(aabb[4] , ray[1], normal[1])
    t4 = tt(aabb[1], ray[1], normal[1])
    t5 = tt(aabb[5],ray[2], normal[2])
    t6 = tt(aabb[2],ray[2], normal[2])

    
    tmax = min(max(t1, t2), max(t3, t4), max(t5, t6));

        # if tmax < 0, ray (line) is intersecting AABB, but whole AABB is behing us
    if (tmax < 0):
        return False

        # if tmin > tmax, ray doesn't intersect AABB
    tmin = max(min(t1, t2), min(t3, t4), min(t5, t6));
    if (tmin > tmax):
        return False
    t= None
    if (tmin < float(0)):
        t = tmax
    else:
        t = tmin
    if (t * t) > ((normal[0]**2 + normal[1]**2 + normal[2]**2)):
        return False
    return True

Filter lines with positive intersections

In [ ]:
# pool = Pool(processes=10)
# fun = partial(checkFaces,mesh_faces_filter.values)
# pool.map(fun,lines.values)
resultsB = [checkFaces( mesh_faces_filter.values,x) for x in lines.values]
# resultsB = bbx2.apply(lambda x: checkFaces( mesh_faces_filter.values, x), axis=1)

In [ ]:
lines['hits']= resultsB
positive = len(lines[lines['hits'] == False])
print('{} lines with clean sight from POV to targets'.format(positive))
negative = len(lines[lines['hits'] == True])
print('{} lines with possible context intersection'.format(negative))

## Saving lines with no intersection

In [ ]:
lines[ lines['hits'] == False].to_csv('positive.csv')

## Saving lines with possible intersection

In [ ]:
lines[ lines['hits'] == True].to_csv('negative.csv')

In [ ]:
end = time.time()
print('total time {}'.format(end-start))